<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s">

    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Bill_Activity"></activity>
        <activity android:name=".ManualExoenses_Activity" />
        <activity android:name=".passcode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Privacy_Policy" />
        <activity android:name=".stats" />
        <activity android:name=".SplitScreen">
            <intent-filter android:label="filter_view_example">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.splititeasy.com” -->
                <data
                    android:host="www.splititeasy.com"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity android:name=".AddEditMemberActivity" />
        <activity android:name=".AddEditBillActivity" />
        <activity android:name=".HandleOnGroupClickActivity" />
        <activity android:name=".GroupListActivity" />
        <activity android:name=".CreateNewGroupActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
    </application>

</manifest>